* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.SpinVisible {
  display: block;
  width: 100px;
  height: 100px;
}

.SpinInvisible {
  display: none;
}